
<h3 style="display:inline">My Profile  </h3>
<p class="lead" style="display:inline">   |   <%= link_to "Edit", edit_profile_path(@profile), class: "btn" %></p>

<header>
  <div class="well">
    <table class="table">
      <tr>
        <td width="20%">
          <a href="<%= @profile.avatar.url %>">
            <img src="<%= @profile.avatar.url(:thumb) %>" />
          </a>

        </td>
        <td>
          <h4><%= @profile.user.full_name %></h4>
          <p class="lead"><%= @profile.tagline %></p>
          <p class="lead"><%= number_badge @profile.user.points %> Points Accumulated</p>
          <p class="lead"><%= number_badge @submissions_count %> Assignments Completed</p>

        </td>
      </tr>
      <tr>
        <td>
          Bio:
        </td>
        <td>
          <%= @profile.bio %>
        </td>
      </tr>
      <tr>
        <td>
          Interests:
        </td>
        <td>
          <%= @profile.interests %>
        </td>
      </tr>
      <tr>
        <td>
          소속:
        </td>
        <td>
          <%= @profile.user.university + ", " + @profile.user.department %>
        </td>
      </tr>
    </table>
  </div>
</header>


