
<%= semantic_form_for [:admin, @assignment], html: { :enctype => "multipart/form-data" } do |f| %>
  <%= f.inputs name: "Basic" do %>
    <%= f.input :title %>
    <%= f.input :tagline, hint: "A short description of the assignment" %>
    <%= f.input :difficulty, hint: "Select 1 ~ 3" %>
    <%= f.input :level, hint: "Select 1 ~ 3" %>
    <%= f.input :points, hint: "Number of points earned by the user through the successfull completion of the assignment" %>
  <% end %>

  <%= f.inputs "Category" do %>
    <%= f.input :category, hint: "Art, Android, Electronics etc", collection => Category.all.collect { |t| [t.name, t.id] } %>
  <% end %>

  <%= f.inputs name: "Detailed Instructions" do %>
    <%= f.input :content, :as => :ckeditor, :input_html => { :ckeditor => { :height => 400, :toolbar => 'Full' } } %>
  <% end %>


  <%= f.actions %>
<% end %>

<% if @assignment.attachments.any? %>
  <%= render "attachments/list", current_model: @assignment, active_admin: true %>
<% end %>
<% if @assignment.new_record? %>
  <p>You can't upload any files until you create the assignment, upload the attachments from the edit page, after creating the assignment </p>
<% else %>
  <%= render "attachments/uploader", current_model: @assignment, active_admin: true %>
<% end %>

